@media screen and (min-width:360px) and (max-width:768px) {

    section {
        height: 100%;

        &#contact {
            height: 100vh;

            & h3 {
                display: none;
            }

            & form {
                width: 80%;
                height: 58%;

                & .form-group {
                    height: 26px;
                }
            }

            & .copyright {
                position: absolute;
                bottom: 0;
                right: 0;
                font-size: 40%;
            }
        }



    }

}


@media screen and (min-width:768px) and (max-width:1024px) {}